

.black-link{
    color: var(--black);
}

.materials{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 32px 0 48px 0;
}

.materials__main-text{
    width: 1224px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    height: 296px;
}

.materials__cards{
    width: 1224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.materials__card-cont{
    width: 1224px;
    height: 359px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.materials__pic{
    width: 392px;
    height: 359px;
}

.materials__card-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 808px;
    height: 242px;
    gap: 16px;
}

.materials__card-cont--reversed{
    flex-direction: row-reverse;
}

.materials__pic2{
    width: 496px;
    height: 330px;
}

.materials__card-cont--bigger{ 
    height: 408px;
}

.materials__pic{
    width: 392px;
    height: 359px;
}

.materials__pic3{
    width: 496px;
    height: 408px;
}

.materials__pic4{
    width: 392px;
    height: 434px;
}

.materials__card-cont--bigger2{
    height: 434px;
}

.materials__span{
    color: var(--primary);
}

@media screen and (max-width: 1350px) {
    .materials__main-text{
        width: 1000px;
    }

    .materials__card-cont{
        width: 1000px;
    }

    .materials__cards{
        gap: 32px;
        width: 1000px;
    }
}

@media screen and (max-width: 1250px) {
    .materials{
        padding: 160px 0 48px 0;
    }
}

@media screen and (max-width: 1080px) {
    .materials__main-text{
        width: 800px;
    }

    .materials__card-cont{
        width: 600px;
        flex-direction: column;
        height: auto;
    }

    .materials__card-text{
        width: 500px;
    }

    .materials__cards{
        gap: 32px;
        width: 800px;
        height: auto;
    }

    .materials__pic, .materials__pic2, .materials__pic3, .materials__pic4{
        width: 480px;
        height: 380px;
    }
}

@media screen and (max-width: 880px) {
    .materials__main-text, .materials__cards{
        width: 600px;
    }

    .materials__pic, .materials__pic2, .materials__pic3, .materials__pic4{
        width: 380px;
        height: 300px;
    }

    .materials__card-cont, .materials__card-text{
        width: 400px;
    }
      
}


@media screen and (max-width: 680px) {
    .materials__main-text, .materials__cards{
        width: 400px;
    }

    .materials__pic, .materials__pic2, .materials__pic3, .materials__pic4{
        width: 380px;
        height: 300px;
    }

    .materials__card-cont, .materials__card-text{
        width: 400px;
    }

    .materials__main-text{
        height: auto;
    }
      
}

@media screen and (max-width: 480px) {
    .materials__main-text, .materials__cards{
        width: 300px;
    }

    .materials__pic, .materials__pic2, .materials__pic3, .materials__pic4{
        width: 280px;
        height: 200px;
    }

    .materials__card-cont, .materials__card-text{
        width: 280px;
    }

    .materials__main-text{
        height: auto;
    }

    .materials__card-text{
        height: auto;
    }
      
}