.white-button{
    padding: 16px;
    width: 184px;
    height: 40px;
    background: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.white-button__text{
    color: var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}