.white-button{
    padding: 16px;
    width: 184px;
    height: 40px;
    background: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.white-button__text{
    color: var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}

.white-button:hover{
    box-shadow: 10px 12px 0px -4px rgba(20, 20, 20, 0.226);
    transform: translateY(-5px);
}

@media screen and (max-width: 880px) {
    .white-button{ 
        width: 87px;
    }

    .white-button__text{
        font-size: 20px;
    }
}