.card{
    width: 392px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card__img{
    width: 392px;
    height: 438px;
}


.card__image{
    overflow: hidden;
    position: relative;
    width: 392px;
    height: 438px;
}

.card__text{
    padding: 0px 8px;
    width: 392px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}

.card__button{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.card__title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: var(--black);
    text-align: start;
}

.card__inner-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 382px;
}

.card__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--black);
}

.card__price{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: var(--black);
}

.card__round{
    display: flex;
    width: 189px;
    justify-content: start;
    align-items: center;
    gap: 8px;
}