.sus-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 12px;
    background-image: url("../../../../assets/images/sustain.png");
    background-size: cover;
    height: 626px;
    padding-bottom: 43px;
    padding-right: 108px;
}

.sus-banner__title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--primary-primary800);
    text-align: start;
    width: 495px;
}

.sus-banner__img{
    display: none;
}

@media screen and (max-width: 910px) {
    .sus-banner__title{
        font-size: 17px;
        width: 418px;
        text-align: end;
    }

    .sus-banner{
        gap: 40px;
    }
}

@media screen and (max-width: 640px) {
    .sus-banner__title{
        font-size: 14px;
        width: 318px;
    }

    .sus-banner{
        padding-right: 70px;
        gap: 30px;
        background-image: url("../../../../assets//images/sustainMobile.jpg");
    }
}

@media screen and (max-width: 460px) {
    .sus-banner{
        padding-right: 20px;
    }
}