.account{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
    gap: 128px
}

.account__cover{
    width: 600px;
    height: 837px;
}

.account__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.form__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);
}

.account__mobile-pic{
    display: none;
    width: 360px;
    height: 218px;
}

@media screen and (max-width: 1300px){
    .account__cover{
        width: 500px;
        height: 737px;
    }

    .account{
        gap: 80px
    }
}

@media screen and (max-width: 1260px) {
    .account{
        padding-top: 100px;
    }
}

@media screen and (max-width: 1050px){
    .account{
        flex-direction: column;
    }

    .account__content, .form__content, .form__input, .form__button{
        width: 450px;
    }

    .account__cover{
        width: 480px;
        height: 700px;
    }
}

@media screen and (max-width: 660px) {
    .account__cover{
        display: none;
    }

    .account__mobile-pic{
        display: flex;
    }

    .account{
        gap: 50px;
    }

    .form__title{
        font-size: 20px;
    }

    .account__content, .form__content, .form__input, .form__button{
        width: 370px;
    }

    .form__content{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {
    .account__content, .form__content, .form__input, .form__button{
        width: 320px;
    }

    .form__text{
        font-size: 13px;
    }

    .form__forgot, .form__link{
        font-size: 14px;
    }

    .account__mobile-pic{
        width: 330px;
    }
}

